#main {
  font-family: Helvetica, 'Open Sans', Arial, sans-serif;
  font-weight: lighter;
  width: 1000px;
  margin: auto;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
}

table {
  margin: 10px;
}

button {
  padding: 8px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 14px
}

button::-moz-focus-inner {
  padding: 8px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}
